.wrapper {
   position: relative;
}

.routes {
    position: absolute;
    top: 1.5rem;
    width: 150px;
    padding: 1rem 0;
    background-color: #646cff;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-radius: 10px;*/
}



.link:hover {
    background-color: #f0f0f0;
}





